  .body-mapNewxx {
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    background-color: #757575; /* Set your desired background color */
  }

  .map-wrapperxx {
    display: flex;
    height: 92vh;
    width: 100%;
    flex-direction: column;
    background-color: #757575;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
  }
  
  .searchbox {
      width: 50%;
      height: 75px; 
      background-color: #fff;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 50px;
      z-index: 1;
      border-radius: 50px;
      border: 1px solid #000;
      display: grid;
      align-items: center;
      padding: 10px 20px;
    }
    
    .locationbox {
      position: absolute;
      right: 50px;
      bottom: 50px;
      z-index: 1;
    }
    .form-control {
      border-radius: 20px;
    }
    
    .roundbox {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: #fa0;
    }
    
    .makethiscenter {
      display: grid;
      align-items: center;
      justify-content: center;
    }
    
    .btn {
      width: 100%;
      border-radius: 20px;
    }

    .map-container {
      border-radius: 15px; /* Set border-radius for rounded corners */
      overflow: hidden; /* Ensure the map stays within the rounded container */
      background-color: #757575; /* Set your desired background color */
    }
  
    .fly-tipping-titlexx {
      margin-top: -20px;
      margin-left: 10px;
      color: white;
    }

    .mapContainerStylexx { 
      height: 300px;
      background-color: #757575;
      border-radius: 15px;
      margin-bottom: 20px;
    }
        
    .sideContainerStyle1xx,
    .sideContainerStyle2xx {
        border-radius: 15px;
        overflow: hidden;
        background-color: #757575;
        width: 40vh; /* Full width on small screens */
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
      }

      .sideContainerStyle1xx {
        height: 20%;
        margin-top: 10px;
      }
      
      .sideContainerStyle2xx {
        height: 30vh; /* 30% of the viewport height */
      }

      .empty-divxx {
        width: 30%;
        height: 20px;
      }

      .sideContainerStyle1xx {
        height: 20%;
        margin-top: 5px;
      }
      
      .sideContainerStyle2xx {
        height: 30vh; /* 30% of the viewport height */
      }

    .jump-to-local-button {
        
          position: absolute;
          top: 10px;
          right:224px;
          cursor: pointer;
          background-color: white;
          padding: 10px;
          border: 1 px #ccc;
          border-radius: 1px;
          transition: box-shadow 0.3s ease;
          box-shadow: none;
          color: #757575;   
    }

    .search-bar-divxx {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        max-width: 300px;
        background-color: #757575;
        padding: 0%;
        border: 0px solid #ccc;
        border-radius: 15px;
      }

    .search-input-boxxx {
      width: 94%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .toggle-flag-buttonxx {
        position: absolute;
        top: 10px;
        right: 12%;
        transform: translateX(50%); /* Adjust for centering */
        cursor: pointer;
        background-color: white;
        padding: 1%;
        border: 1px solid #ccc;
        /*borderRadius: 5px; */
        transition: box-shadow 0.3s ease;
        box-shadow: none;
        color: #757575;
        }

    .info-div {
        background-color: #757575;
        color: black;
        padding: 80px;
        border-radius: 5px;
        border: 0px;
    }

    .form-style-map {
        margin:50px;  
      }

  /* Media queries for responsiveness
      //display: grid;
    //grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px; */

@media (min-width: 650px) {
  
  .app {

    border-radius: 15px;
    padding: 15px;
    width: 88vw;
    background-color:#757575; 
  }

  .map-wrapperxx {
    display: flex;
    flex-direction: row; 
    padding: 5px;
    border-radius: 15px;
    height: 90%;
    margin-right: 30px;
  }
  .mapContainerStylexx {
    height: 70vh;
    width: 65%;
  }

  .search-bar-divxx {
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 30vh;
    height: 5vh;
    padding: 0%;
  }

.search-input-boxxx {
  width: 30vh;
  height: 5vh;
  font-size: 12px;
  top: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.toggle-flag-buttonxx {
  font-size: 12px;
  width: 50vh;
  height: 5vh;
  position: absolute;
  top: 3px;
  
  transform: translateX(50%); /* Adjust for centering */
}


  .boxSidexx {
    width: 35%;
    border-radius: 15px;
    padding: 5px;
  }

  .sideContainerStyle1xx {
    width: 98%;
    height: 15vh;
    display: flex;
  }

  .empty-divxx {
    width: 30%;
    height: 3vh;
  }

  .sideContainerStyle2xx {
    width: 98%;
    height: 50vh;
  }

  .text {
    font-size: 20px;
    padding:6px;
  }
}

@media (min-width: 1000px) {
  .map-wrapperxx {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;  
    padding: 20px;
    border-radius: 15px;
    height: 82vh;
    width: 215vh;
  }

  .boxSidexx {
    width: 60vh;
  }

  .mapContainerStylexx {
    height: 85vh;
    width: 150vh;  
  }

  .sideContainerStyle1xx {
    width: 100%;
    height: 20vh;
  }

  .sideContainerStyle2xx {
    height: 55vh;
    width: 100%;
  }

  .text {
    font-size: 30px;
  }
}





