.container6 {
  margin-left:260px;
  margin-top:50px;
  position: relative;
  width: 800px;    
  height: auto;
  font-family: sans-serif;
  font-size: 35px;
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 12);
  border: 5px solid rgb(105, 98, 98);
  background-color: #e2e8ef;
  border-radius: 10px;
} 

.header6 {
  text-align: center;
}
   
  img {
    width: 300px;
    margin: 10px;
  }

  .image-large {
    width: 200px;
    height: 150px;
    margin: 2% 5%;
    padding: 10px;
  }

  .div-button6{  
    display: flex;
    justify-content: center;  
  }

  .div-empty6  {
    height: 200px;
    width: auto;
   }

   .form-style6 {
    margin:50px;  
  }

  .form-style6 input {
    font-size: 14px; /* Increase the font size */
    padding: 8px; /* Increase the padding */
    margin-bottom: 10px; /* Add some margin between fields */
  }

  .button-file-browser6 {
   
    align-items: center;
    appearance: button;
    background-color: #9ba3ac;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue",sans-serif;
    font-size: 15px;
    line-height: 1.15;
    margin: auto;
    padding: 10px 21px;
    text-transform: none;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-image-upload6 {
    /* align-items: center; */
     
     position: absolute;
     bottom: 20px;
     right: 120px;
     appearance: button;
     background-color: #9ba3ac;
     border-radius: 8px;
     border-style: none;
     box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
     box-sizing: border-box;
     color: #fff;
     cursor: pointer;
     display: flex;
     flex-direction: row;
     flex-shrink: 0;
     font-family: "RM Neue",sans-serif;
     font-size: 15px;
     line-height: 1.15;
     margin-left: 250px;
     padding: 10px 21px;
     text-transform: none;
     transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
   }

   .button-back6 {
    /* align-items: center; */
     
     position: absolute;
     bottom: 20px;
     right: 360px;
     appearance: button;
     background-color: #9ba3ac;
     border-radius: 8px;
     border-style: none;
     box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
     box-sizing: border-box;
     color: #fff;
     cursor: pointer;
     display: flex;
     flex-direction: row;
     flex-shrink: 0;
     font-family: "RM Neue",sans-serif;
     font-size: 15px;
     line-height: 1.15;
     margin-left: 250px;
     padding: 10px 21px;
     text-transform: none;
     transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
   }

   .button-upload-reset6 {
   
    position: absolute;
    bottom: 20px;
    right: 20px;
    appearance: button;
    background-color: red;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0; 
    font-family: "RM Neue",sans-serif;
    font-size: 15px;
    line-height: 1.15;
    
    padding: 10px 21px;
    text-transform: none;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }